<%= form_for(endorse,id: "add-virtue" ) do |c| %>

      <div class="add-virtue-container">
                      <fieldset>
                        <ul style="list-style:none; padding:0px;">
                          <li>
                            <%= c.hidden_field :subject_id, :value => t.id %>
                            <%= c.hidden_field :follower_id, :value => current_user.id %>
                            <i class="fa fa-search fa-2x" aria-hidden="true"></i>
                            <div id="virtue-combobox">
                            <%=c.select_tag :endorsement_id, options_for_select(@endorsements.all.map { |p| [ p.name, p.id ]  }),name: 'endorse[endorsement_id]', class: "endorsement", :prompt => 'Seleccionar atributo...'  %>

                              <%= c.submit 'Agregar', class: 'button', style: "background-color:white; color:orange; border:none", data: { disable_with: "Wait.." } %>
                            </div>
                          </li>
                        </ul>
                      </fieldset>
      </div><!--add virtue container-->
<%end%>
