<div class="comment-body">
      <div class="comment-counter">
      <% if !i.nil? %>
       <%= i+1%> de <%= c %>
       <% else %>
       <i class="fa fa-check-circle fa-2x" aria-hidden="true" style="color:green"></i>
      <% end %>
      </div>
      <%= image_tag (d.user.profile_picture.url(:thumb)), class: "profile-picture-comment" %>
      <div class="title-subtitle-comment">
            <%= d.user.first_name %> <%= d.user.last_name %>
            </br>
            <%= d.commentary %>
            <div class="comment-like-btn">
						<% new = false if new.nil? %>
						<% new_like = '' %>
						<% new_like = ' like-link-new' if new %>
						<% destroy_action = 'destroy_like_comment' %>
						<% destroy_action = 'destroy_like_comment_ajax' if new %> 
						<% create_action = 'create_like_comment' %>
						<% create_action = 'create_like_comment_ajax' if new %>
            <% if !current_user.nil? && current_user.likes_comment?(d.id) %>
							<%= render partial: '/home/destroy_like_comment', locals: { d: d, new_like: new_like, destroy_action: destroy_action } %>
            <%else%>
							<%= render partial: '/home/create_like_comment', locals: { d: d, new_like: new_like, create_action: create_action } %>
            <%end%>
            <span class="comment-like-count">
                  <% if d.likes.count>0 %>
                  +<%= d.likes.count %>
                  <%end%>
            </span>
            </div>

      </div><!--title-subtitle-->
</div>
