 <%= form_for(comment,id: "post-comment-<% t.id% >", remote: true, ) do |c| %>
                      <fieldset>
                        <ul style="list-style:none; padding:0px;">
                          <li>
                            <%= c.hidden_field :user_id, :value => current_user.id %>
                            <%= c.hidden_field :post_id, :value => t.id %>
                            <%= c.text_area :commentary, class: "post_control comment_commentary", placeholder: "Deja un comentario..." %>
                          </li>
                          <li>
                              <%= c.submit 'Enviar', class: 'button' %>
                          </li>
                        </ul>
                      </fieldset>
<%end%>