  <!-- Following -->
  <% @users_following.each do |u| %>
          <%if u.id != current_user.id && current_user.following?(u.id) %>
          <div class="row row-striped">
                            <div class="profile-picture-search">
                              <%= image_tag u.profile_picture.url(:thumb) %>
                            </div><!--profile picture-->

                              <div class="title-subtitle-search">
                          <%= link_to "#{u.first_name} #{u.last_name}", :controller => "profile", :action => "index", :subject => u.id %>
                            </div><!--title-subtitle-->
                            <div class="following-search">Siguiendo <i class="fa fa-check-circle" aria-hidden="true"></i></div>
          </div><!--row-->
          <%end%>
          <%end%>
<!-- Follow suggestions -->
<% @users_not_following.each do |t| %>
          <% if Notification.find_by(follower_id: current_user.id, user_id: t.id).nil? && !current_user.following?(t.id)%>
            <div class="row row-striped">
            <div class="profile-picture-search">
                    <%= image_tag (t.profile_picture.url(:thumb)) %>
                  </div><!--profile picture-->
                  <div class="title-subtitle-search">
                    <%= link_to "#{t.first_name} #{t.last_name}", :controller => "profile", :action => "index", :subject => t.id %>
                  </div>
                  <%= link_to "+Seguir", {:controller => "profile", :action => "create_follow_request", :subject => t.id, :follower => current_user.id}, :class=>"follow-search" %>
                </div><!--row-->
          <% end %>
        <% end %>
<!-- Follow requested -->
<% @users_not_following.each do |t| %>
          <% if Notification.find_by(follower_id: current_user.id, user_id: t.id) && !current_user.following?(t.id)%>
            <div class="row row-striped">
            <div class="profile-picture-search">
                    <%= image_tag (t.profile_picture.url(:thumb)) %>
                  </div><!--profile picture-->
                  <div class="title-subtitle-search">
                    <%= link_to "#{t.first_name} #{t.last_name}", :controller => "profile", :action => "index", :subject => t.id %>
                  </div>
                  <%= link_to "Pendiente", {:controller => "notifications", :action => "destroy_follow_request", :notification_id => Notification.find_by(follower_id: current_user.id, user_id: t.id).id}, :class=>"follow-search" %>
                </div><!--row-->
          <% end %>
        <% end %>