<!DOCTYPE html>
<html>
<div id="notifications">
    <div class="row">
      <% @notifications.each do |t| %>
<div class="width-center-column">
              <div class="profile-picture">
                <%= image_tag (t.image.url(:thumb)) %>
              </div><!--profile picture-->

              <div class="title-subtitle">
                <%= link_to t.title, {:controller => "profile", :action => "index", :subject => t.follower_id}, {'data-no-turbolink' => true} %>
              </br>
                <% case t.notification_type %>
                  <% when 1 %>
                  <%= render partial: 'notification_type1', locals: {t: t} %>
                  <% when 2 %>
                  <%= render partial: 'notification_type2', locals: {t: t} %>
                  <% when 3 %>
                  <%= render partial: 'notification_type3', locals: {t: t} %>
                  <% when 4 %>
                  <%= render partial: 'notification_type4', locals: {t: t} %>
                  <% when 5 %>
                  <%= render partial: 'notification_type5', locals: {t: t} %>
                  <% when 6 %>
                  <%= render partial: 'notification_type6', locals: {t: t} %>
                  <% when 7 %>
                  <%= render partial: 'notification_type7', locals: {t: t} %>
                  <% when 8 %>
                  <%= render partial: 'notification_type8', locals: {t: t} %>
                <% else %>
                 <%= t.subtitle %>
                <% end %>
              </br>
                </div><!--title-subtitle-->
              <% if t.notification_type == 1 %>
              <div class="notification_right">
                <%= link_to '<i class="fa fa-times-circle fa-3x" aria-hidden="true"></i>'.html_safe,  {:action =>"destroy_follow", :subject_id => t.user_id, :follower_id => t.follower_id, :notification_id => t.id} %>
                <%= link_to '<i class="fa fa-check-circle fa-3x" aria-hidden="true"></i>'.html_safe,  {:action =>"select_affinity", :subject => t.user, :follower => t.follower_id, :notification_id => t.id} %>
              </div><!-- notification right -->
              <% elsif t.notification_type == 4 %>
              <div class="notification_right">
                <!-- <div class="endorsement_weight">+<%= t.endorse_weight%></div> -->
              </div><!-- notification right -->
              <% end %>
             </div><!--width-center-column -->
      <% end %><!--notifications each-->

    </div><!--row-->
  </div><!--notifications-->
</html>