<!DOCTYPE html>
<html>
    <div class="affinity_container">
      <div class="affinity_introduction">
        <%= @follower.first_name %> <%=@follower.last_name %> pertenece a cuál de tus siguientes círculos de afinidad???
      </br></br>
        *Esta función es sólo para clasificar de manera ordenada a tus grupos de afinidad. Tus amigos no sabrán a qué grupo de afinidad pertenecen.
      </div><!--affinity intro -->
      <% @affinity.each do |a| %>

          <%= link_to :action =>"create_follow", :subject_id => @subject, :follower_id => @follower.id, :affinity_id => a.id, :weight => 4-a.id, :notification_id => @notification_id, class: "affinity_button" do%>
                  <div class="affinity_number">
                     <%= a.level %>
                  </div><!--affinity number-->
                  <div class="affinity_text"><%= a.affinity_description %></div>

          <% end%><!--affinity button -->

      <% end %>
    </div><!-- affinity container -->
</html>