<% new = false if new.nil? %>
<div id="posts">
      <% posts.each do |t| %>
      <%= t.id %>
      <div class="row row-striped">
      <div class="post-body">
          <% if t.shared_post %>
            <div class="person_sharing">
              <i class="fa fa-retweet" aria-hidden="true"></i> <%=link_to t.person_sharing, :controller => "profile", :action => "index", :subject => t.person_sharing_id %>
            </div>
            <% end %>
            <% if t.shared_post || !t.shared_post %>
                <%= image_tag (t.user.profile_picture.url(:thumb)), class:"profile-picture" %>
              <div class="title-subtitle">
                <%= link_to t.title, :controller => "profile", :action => "index", :subject => t.follower_id %>
                </br>
                <% case t.post_type %>
                <% when 1 %>
                  <%= render partial: 'post_type1', locals: {t: t} %>
                <% when 2 %>
                  <%= render partial: 'post_type2', locals: {t: t} %>
                <% else %>
                 <%= t.subtitle %>
                <% end %>
              </br>
										<% new_class = '' %> 
										<% new_class = ' like-link-new' if new %>
										<% destroy_action = 'destroy_like' %>
										<% destroy_action = 'destroy_like_ajax' if new %> 
										<% create_action = 'create_like' %>
										<% create_action = 'create_like_ajax' if new %>

                    <% if !current_user.nil? && current_user.likes?(t.id) %>
											<%= render partial: '/home/destroy_like', locals: { t: t, new_class: new_class, destroy_action: destroy_action } %>
                    <% else %>
											<%= render partial: '/home/create_like', locals: { t: t, new_class: new_class, create_action: create_action} %>
                    <% end %>
                   <%= link_to '<i class="fa fa-comment-o" aria-hidden="true"> Comment</i>'.html_safe,'#', id: "comments-link", class: "comments-link#{ new ? ' new-link' : ''}", data: { link:  "#comments-section-" + t.id.to_s } %>
                   <%= link_to '<i class="fa fa-share" aria-hidden="true"> Share</i>'.html_safe, {:action => "create_share", :post_id => t.id, :current_user_id => current_user.id} %>
                    <section class="comments-section" id="comments-section-<%= t.id %>">
                     <%= render partial: '/comments/post_form', locals: {comment: @comment, t: t, new: new} %>
                    </section>
                </div><!--title-subtitle-->
                <span class="comments">
                    <%= render partial: '/comments/comments', locals: {t: t, new: new} %>
                </span>
                <% end %>
       </div><!--post body-->
      </div><!--row-->
       <% end %><!--posts each-->
</div><!--post container-->
<input type="hidden" class="last-loaded-page" value="<%= url_encode( url_for controller: :home, action: :index, page: @page.to_i + 1) %>">
