 <div class="posts">
  <% if @posts.nil? %>
        <% @last_users.each do |t| %>
          <% if Notification.find_by(follower_id: current_user.id, user_id: t.id).nil? && !current_user.following?(t.id)%>
            <div class="row row-striped">
            <div class="post-body-home-no-posts">
                  <div class="profile-picture-home-no-posts">
                    <%= image_tag (t.profile_picture.url(:thumb)) %>
                  </div><!--profile picture-->
                  <div class="title-subtitle">
                    <%= link_to "#{t.first_name} #{t.last_name}", :controller => "profile", :action => "index", :subject => t.id %>
                  </div>
                  <%= link_to "+Follow", {:controller => "profile", :action => "create_follow_request", :subject => t.id, :follower => current_user.id},  { :class=>"follow-home" } %>
                </div><!--post body-->
                </div><!--row-->
          <% end %>
        <% end %>
      <% else %>
  <%= render(partial: 'posts', locals: {posts: @posts}) %>
</div><!--posts-->

 <%= paginate @posts, theme: 'twitter-bootstrap-3' %>
<% end %>