<div id="posts">

<%= form_for(@post, id:'new_post') do |c| %>
          <%= c.hidden_field :follower_id, :value => current_user.id %>
          <%= c.hidden_field :user_id, :value => current_user.id %>
          <%= c.hidden_field :title, :value => current_user.first_name+" "+current_user.last_name %>
          <%= c.text_area :subtitle, id:'thought_input', placeholder: "¿En qué estas pensando?", :maxlength => 55 %>
          <span class="button-send-advice">
          <%= submit_tag "Enviar", class:"btn-send-thought" %>
        </span>
          <% end %>
  <% if @posts.nil? %>
        <% @last_users.each do |t| %>
          <% if Notification.find_by(follower_id: current_user.id, user_id: t.id).nil? && !current_user.following?(t.id)%>

            <div class="row row-striped">
            <div class="post-body-home-no-posts">
                  <div class="profile-picture-home-no-posts">
                    <%= link_to "#{image_tag (t.profile_picture.url(:thumb))}".html_safe, :controller => "profile", :action => "index", :subject => t.id%>
                  </div><!--profile picture-->
                  <div class="title-subtitle">
                    <%= link_to "#{t.first_name} #{t.last_name}", :controller => "profile", :action => "index", :subject => t.id %>
                  </div>
                  <%= link_to "+Follow", {:controller => "profile", :action => "create_follow_request", :subject => t.id, :follower => current_user.id},  { :class=>"follow-home" } %>
                </div><!--post body-->
                </div><!--row-->

          <% end %>
        <% end %>
</div><!--posts-->
      <% else %>
<div class="posts">
  <%= render(partial: 'posts', locals: {posts: @posts}) %>
</div><!--posts-->

 <%= paginate @posts, theme: 'twitter-bootstrap-3' %>
<% end %>