<!DOCTYPE html>
<html>
<div class="account_box">
  <div class="account_word">
    Account
  </div><!--account word-->
</div><!-- account box -->
<div class="edit_profile_container">
    <div class="profile_image">
      <%=link_to(image_tag(@user.profile_picture.url(:thumb))) %>
    </div><!-- profile image -->
    <div class="user_details">
      <%= link_to "#{@user.first_name} #{@user.last_name}", :controller => "profile", :action => "index", :subject => @user.id %>

      <%=simple_form_for(@user,  url: {action: "update", id: @user.id}, method: :post, html: { class: 'form-horizontal' }) do |f|%>
          <%= f.text_field :job_title, hide_label: true, class: 'job_title', placeholder: "Current" %></br>
          <%= f.text_field :company_name, hide_label: true, class: 'company_name', placeholder: "Institution/ Company" %></br>
          <%= f.submit "Update", class: "btn-update-details"  %>
        <% end %>

    </div> <!--user details -->
  </div><!-- edit profile container -->
  <div class="account_box">
  <div class="account_word">
    Support
  </div><!--account word-->
</div><!-- account box -->
<div class="support_buttons">


<%= link_to 'Report a Problem','#', id: "problems-link", class: "support_one_button", data: { link:  ".problems-section"} %>
<section class="problems-section">
  <%= render partial: 'problem_form', locals: {problem: @problem} %>
</section>
<button type="button" class="support_one_button" data-toggle="modal" data-target="#privacyPolicy">Privacy Policy</button>
<button type="button" class="support_one_button" data-toggle="modal" data-target="#termsAndServices">Terms of Services</button>


<!-- Modal -->
<div id="privacyPolicy" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Privacy Policy</h4>
      </div>
      <div class="modal-body">
        <p>Privacy policyyyyyyyyyyyyyyyyyyyyy.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- fin modal 2-->
<!-- Modal -->
<div id="termsAndServices" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Terms and Services</h4>
      </div>
      <div class="modal-body">
        <p>Terms and servicesssssssssss</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- fin modal 3-->
</br></br>
   <div class="support_one_button">
    <%= link_to('Log out', destroy_user_session_path, :method => :delete) %>
  </div>
  </div><!--support one button-->
  </div><!-- support buttons -->

</html>