<!DOCTYPE html>
<html>
<head>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
</head>
<div class="profile">
      <div class="attributes-display">
        <div class="cloudtag">
          <% if @user.attributes_and_weight %>
              <% @user.attributes_and_weight.each do |key, value| %>
                  <%
                    w = 8 * value.to_i
                    w = 50 if w > 50
                  %>
                  <div class="tag" style="font-size:<%= w %>px; text-align:center!important;">
                    <%= key[0] %>
                  </div>
              <% end %>
           <% end %>
          <span class="clearer"></span>
      </div>
    </div>
    <div class="picture-row">
    <% if !current_user.nil? && current_user.following?(@user.id) && !(current_user.id==@user.id)%>
          <%= link_to 'Valorar <i class="fa fa-search-plus fa-2x" aria-hidden="true"></i>'.html_safe,'#', id: "add-virtue-link", class: "addVirtue-btn-naranja", data: { link:  "#add-virtue-section"} %>

             <%= image_tag (@user.profile_picture.url(:thumb)) %>
         <%= link_to "-No seguir", {:action => "destroy_follow", :subject => @user.id, :follower => current_user.id},  { :class=>"follow-btn-naranja" } %>
    <% elsif  !current_user.nil? && current_user.id==@user.id %>
          <div id="addVirtue-btn"></div>
          <%= image_tag (@user.profile_picture.url(:thumb)) %>
          <%= link_to "Configuracion", {:controller => "profile", :action =>"edit_user"},  { :class=>"follow-btn" } %>

    <% elsif Notification.find_by(follower_id: current_user.id, user_id: @user.id).nil? && !current_user.following?(@user.id) %>
          <a href="#" id="addVirtue-btn">Valorar <i class="fa fa-search-plus fa-2x" aria-hidden="true"></i></a>
             <%= image_tag (@user.profile_picture.url(:thumb)) %>
         <%= link_to "Seguir", {:action => "create_follow_request", :subject => @user.id, :follower => current_user.id},  { :class=>"follow-btn" } %>
    <% else %>
      <a href="#" id="addVirtue-btn">Add Virtue <i class="fa fa-search-plus fa-2x" aria-hidden="true"></i></a>
             <%= image_tag (@user.profile_picture.url(:thumb)) %>
         <%= link_to "Solicitado...", {:controller => "notifications", :action => "destroy_follow_request", :notification_id => Notification.find_by(follower_id: current_user.id, user_id: @user.id).id},  { :class=>"follow-btn" } %>
    <% end %>
    </div>
    <section class="add-virtue-section" id="add-virtue-section">
        <%= render partial: '/endorse/endorse_form', locals: {endorse: @endorse, t: @user, endorsements: @endorsements} %>
    </section>
    <div class="user-name">
      </br><%= @user.first_name %> <%= @user.last_name %></br>
      <%= @user.job_title %></br>
      @<%= @user.company_name %>
    </div>
       <% if !current_user.nil? && current_user.following?(@user.id) && current_user.id != @user.id %>
          <%= render partial: '/advise/advise_form', locals: {advise: @advise} %>
        <% end %>

        <% if !@user.private_advise || @user.id == current_user.id %>
        <div class="advice">
            <div class="some-advice">
                <div class="some-advice-for-you">
                  Algunas sugerencias
                </div><!-- some advice for you -->
                <% if !current_user.nil? && current_user.id==@user.id %>
                  <div class="private-advice">
                      <%if !current_user.private_advise %>
                      <%= button_to 'Privado', {:action => "update_private_advise", :private_advise => 1},{:style =>"background-color:red !important"}%>
                      <%else%>
                      <%= button_to 'Publico', {:action => "update_private_advise", :private_advise => 0},{:style =>"background-color:green !important; color:white;"} %>
                      <%end%><!--if else if-->
                  </div><!-- private advice -->
                <% end %><!-- if current_user.nil? && current_user.id==@user.id -->
            </div><!-- some advice -->

              <span class="advices-display">
                    <%= render partial: '/advise/advises', locals: {advices: @advices} %>
              </span>
        </div><!-- advice -->
        <%end%>
</div>


</html>