<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <head>
    <title>Qbe</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link rel="icon" type="image/png" href="<%= image_path('qbe_favicon.png') %>">
    <%= csrf_meta_tags %>

  </head>
  <body class="<%= controller_name %>-<%= action_name %>">
    <div id="main-wrapper">
      <div id="header-wrapper">
        <div class="col-md-4 col-md-offset-4">
        <div id="header">
          <%= link_to(image_tag('logo_qbe.png'), {controller: '/home', action: :index}, id: 'logo', 'data-no-turbolink' => true) %>
            <%= link_to(image_tag('world.svg'), {controller: :map, action: :index}, id: 'world_image', 'data-no-turbolink' => true)%>
            <div class="searchBar" id="divContent">
            <div id="search-bar-results">
            </div>
            <input id="searchInput" type="text" name="txt1" placeholder="Buscar..."></input>
            </div>
            <% if current_user.notifications.where(unread: 1).exists? %>

           <%= link_to(image_tag('boton_notificaciones_alerta.png'),  {controller: '/notifications', action: :index}, id: 'notification_bubble') %>
            <% else %>
            <%= link_to(image_tag('boton_notificaciones.png'),  {controller: '/notifications', action: :index}, id: 'notification_bubble') %>
            <% end %>
            <% if current_user %>
            <%= link_to(current_user.first_name+" "+current_user.last_name[0],{:controller => "profile", :action => "index", :subject => current_user.id}, id:'user_name')  %>
            <%= link_to '<i class="fa fa-user fa-2x" aria-hidden="true"></i>'.html_safe,{:controller => "profile", :action => "index", :subject => current_user.id}, id:'user_name_responsive'  %>
            <% end %>
      </div> <!-- header -->
</div> <!-- header wrapper-->
</div><!--col md 4-->
        <span class="clearer"></span>
       </div><!--main wrapper -->
      <div id="content-wrapper">
        <div class="col-md-4 col-md-offset-4">
        <%= yield %>
        </div><!--col md 4-->
      </div>
      <div id="footer-wrapper">
      </div>
    </div>
  </body>
</html>